database:
    driver: 'pdo_mysql'
    dbhost: 'localhost'
    dbname: 'mysql'
    user: 'root'
    password: ''
replissimo:
    disallowed_databases:
        - information_schema
        - mysql
        - performance_schema
    internal_databases_format: ^_
    user_owner: test.local